<?xml version='1.0' encoding='utf-8'?>
<plugin
  id="com-socketmobile-capturebasic-cordova"
  version="0.1.0"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>CaptureBasicCordova</name>
  <description>
    This version of Capture for Cordova, provides the device presence events, 
    the decoded data event and access to the properties (battery level, trigger, symbology selection etc...)
  </description>
  <author>
    Socket Mobile, Inc.
  </author>
  <keywords>barcode,scanner</keywords>
  <license>Apache 2.0 License</license>
  <js-module name="CaptureBasicCordova" src="www/CaptureBasicCordova.js">
    <clobbers target="CaptureBasic" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="CaptureBasicCordova">
        <param name="ios-package" value="CaptureBasicCordova" />
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
      <key>UISupportedExternalAccessoryProtocols</key>
      <array>
        <string>com.socketmobile.chs</string>
      </array>
    </config-file>
    <source-file src="src/ios/CaptureBasicCordova.m" />
    <framework src="src/ios/sdk/lib/CaptureSDK.xcframework" custom="true"/>
  </platform>
</plugin>
